@model WebChurchManagement.Models.Status

@{
    ViewBag.Title = "Detalhes do Status";
}

<h2>Deletar Status</h2>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nm_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nm_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Status", "Editar", new { id = Model.Id_Status }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
