@model IEnumerable<WebChurchManagement.Models.Status>

@{
    ViewBag.Title = "Status";
}

<h2>Status</h2>

<p>
    @Html.ActionLink("Inserir Novo Status", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nm_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nm_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id_Status }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id_Status }) |
                @Html.ActionLink("Deletar", "Deletar", new { id = item.Id_Status })
            </td>
        </tr>
    }

</table>
