@model IEnumerable<WebChurchManagement.Models.Membro>

@{
    ViewBag.Title = "Membros";
}

<p>
    @Html.ActionLink("Criar Novo", "Inserir")
</p>

<table id="superTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cargos.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Dt_Nasc)</th>
            <th>@Html.DisplayNameFor(model => model.Dt_Desde)</th>
            <th>@Html.DisplayNameFor(model => model.Tel1)</th>
            <th>@Html.DisplayNameFor(model => model.Ativo)</th>
            <th>@Html.DisplayNameFor(model => model.Foto)</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cargos.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Dt_Nasc)</th>
            <th>@Html.DisplayNameFor(model => model.Dt_Desde)</th>
            <th>@Html.DisplayNameFor(model => model.Tel1)</th>
            <th>@Html.DisplayNameFor(model => model.Ativo)</th>
            <th>@Html.DisplayNameFor(model => model.Foto)</th>
            <th>Ação</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Matricula)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Cargos.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Dt_Nasc)</td>
                <td>@Html.DisplayFor(modelItem => item.Dt_Desde)</td>
                <td>@Html.DisplayFor(modelItem => item.Tel1)</td>
                <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
                <td>@Html.DisplayFor(modelItem => item.Foto)</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id_Membros }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id_Membros }) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.Id_Membros })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Shared/DataTable/dataTables.bootstrap.min.css")
    @Scripts.Render("~/Scripts/Shared/DataTable/jquery-1.12.4.js")
    @Scripts.Render("~/Scripts/Shared/DataTable/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/Shared/DataTable/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/Shared/DataTable/superTable.js")
}
