@model IEnumerable<WebChurchManagement.Models.Membro>

@{
    ViewBag.Title = "Index";
}

<h2>Membros</h2>

<p>
    @Html.ActionLink("Criar Novo", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargos.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Nm_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt_Nasc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt_Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargos.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Nm_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_Nasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_Desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id_Membros }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id_Membros }) |
                @Html.ActionLink("Deletar", "Deletar", new { id = item.Id_Membros })
            </td>
        </tr>
    }

</table>
